<% provide(:title, "Help") %>
<h1>Help</h1>

<h4>FAQs:</h4>
<ul>
<li>How do I get an account?</li>
<li>Now that I've made a person, how do I link it to my account?</li>
</ul>
<br>
<br>

<%= render 'form' %>
