<% provide(:title, "Help") %>
<h1>Help</h1>

<h4>FAQs:</h4>
<ul>
<li><b>How do I get an account?</b></li>
<p>Simply request one from the <%= link_to "Request Account", signup_path %> page.</p>
<li><b>Now that I've made a person, how do I link it to my account?</b></li>
<p>This is something only an admin can do, so you can use this form to contact the admin and request the change.</p>
</ul>
<br>
<br>

<%= render 'form' %>
