<% provide(:title, "About") %>

<h1>About Kinship</h1>

Kinship is a Ruby on Rails application for managing and displaying genealogical data.<br>
<br>
To contribute to the kinship project, visit the github page <%= link_to "here", 'https://github.com/oddityoverseer13/genealogy-project' %>.<br>
<br>
For more information, or to report a bug, please visit the <%= link_to "Help", help_path %> page.
<br>
<br>
<br>
Designed by Derek Kniffin and Greg Wahl
