= simple_form_for @marriage do |f|
  = f.input :person_1_id, label: 'Spouse 1' do
    = f.select :person_1_id,
      [''] + Person.all.map{|p| [p.full_name,p.id]} + [['New Person', :new]]
  #person_1_new_person_fields.inline-form style=("display: none;")
    = render partial: 'people/embeddable_form', locals: {f:f, person_field_id: :person_2}
  = f.input :person_2_id, label: 'Spouse 2' do
    = f.select :person_2_id,
      [''] + Person.all.map{|p| [p.full_name,p.id]} + [['New Person', :new]]
  #person_2_new_person_fields.inline-form style=("display: none;")
    = render partial: 'people/embeddable_form', locals: {f:f, person_field_id: :person_2}
  = f.input :date
  = f.association :sources, include_blank: false
  = f.submit 'Submit', class: 'btn'
