<% provide(:title, "#{@marriage.person_1} & #{@marriage.person_2}") %>

<div class='person-pane'>
  <%= @marriage.person_1.full_name %>
</div>

<div class='marriage-details'>
  <span class='marriage-date'>
    <%= @marriage.date.formatted %>
  </span>
</div>

<div class='person-pane'>
  <%= @marriage.person_2.full_name %>
</div>
