<% flash.each do |type, message| %>
  <%= "flash type: #{type}" %>
  <% flash_to_bootstrap = { 'alert'=> 'notice', 'success'=> 'success', 'failure'=> 'danger' } %>
  <div class="alert alert-<%= flash_to_bootstrap[type] %>">
    <%= message %>
  </div>
<% end %>
