<style>
#map {
  height: 500px;
}
</style>
<script>
  $("body").on('shown','#map-tab-link', function() {
    map.invalidateSize(false);
  });
</script>
<%=
  map(:center => {
      # TODO: Make these coords an admin setting
      :latlng => [24.45,-27.60],
      :zoom => 2
  },
  :markers => @person.markers.map{|marker|
    {
      :latlng => marker[:latlng],
      :popup => '<h3 class="popup-header">' + h(marker[:title]) + '</h3><br/>' +
                h(marker[:place]) + '<br/>' +
                h(marker[:date])
    }
  })
%>
