// Place all the styles related to the People controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#facts-box dt {
	background-color: #000000;
	color: #999;
	padding: 5px;
}

.node {
  cursor: pointer;
}

.node circle {
  fill: #fff;
  stroke: steelblue;
  stroke-width: 1.5px;
}

.node text {
  font: 10px sans-serif;
}

.link {
  fill: none;
  stroke: #ccc;
  stroke-width: 1.5px;
}

.inline-form {
	div.input {
		display: inline-block;
		width: 33%;

		input {
			width: 80%;
		}
	}
}
