- provide(:title, "Statistics")
h3 Statistics
br
#gender-pie
  h4 Gender
  .chart
#lifespan-bar
  h4 Average Lifespan
  .chart
#surname-word-cloud
  h4 Last Name Word Cloud
  .chart
#firstname-word-cloud
  h4 First Name Word Cloud
  .chart
