<% provide(:title, "Statistics") %>
<h3>Statistics</h3><br>
<div id='gender-pie'>
    <h4>Gender</h4>
    <div class="chart">
    </div>
</div>
<div id='lifespan-bar'>
    <h4>Average Lifespan</h4>
    <div class="chart">
    </div>
</div>
<div id='surname-word-cloud'>
    <h4>Last Name Word Cloud</h4>
    <div class="chart">
    </div>
</div>
<div id='firstname-word-cloud'>
    <h4>First Name Word Cloud</h4>
    <div class="chart">
    </div>
</div>
