<li id="fat-menu" class="dropdown">
  <a href="#" class="dropdown-toggle" data-toggle="dropdown">
    Account <b class="caret"></b>
  </a>
  <ul class="dropdown-menu">
    <li><%= link_to "My Account", edit_user_path(current_user) %></li>
    <% if ! current_user.person_id.nil? %>
    <li><%= link_to "My Person", current_user.person %></li>
    <% end %>
    <% if user_role?(User::ROLE_ADMIN) %>
    <li class="divider"></li>
    <li><%= link_to "Admin", admin_path %></li>
    <% end %>
    <li class="divider"></li>
    <li><%= link_to "Sign out", signout_path, method: "delete" %></li>
  </ul>
</li>