body
  header.navbar.navbar-fixed-top.navbar-inverse
    .navbar-inner
      .container
        = link_to @site_title, root_path, id: "logo"
        nav
          ul.nav.pull-right
            li= link_to "Home", root_path
            li= link_to "Help", help_path
            - if user_signed_in?
              = render 'layouts/navigation_dropdown'
              = render 'layouts/account_dropdown'
              li= link_to('Log out', destroy_user_session_path, :method => :delete)
            - else
              li= link_to('Log in', new_user_session_path)
