<li id="fat-menu" class="dropdown">
	<a href="#" class="dropdown-toggle" data-toggle="dropdown">
		Navigation <b class="caret"></b>
	</a>
	<ul class="dropdown-menu">
		<li><%= link_to "People", people_path %></li>
		<li><%= link_to "Sources", sources_path %></li>
		<li><%= link_to "Statistics", people_stats_path %></li>
	</ul>
</li>
