<% content_for :content do %>
<div class="container-fluid">
	<div class="row-fluid">
		<%= render 'layouts/admin_sidebar' %>
		<div class="span10">
			<%= yield %>
		</div>
	</div>
</div>
<% end %>

<%= render template: "layouts/application" %>