<!DOCTYPE html>
<html>
<head>
  <title>Kinship</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<!-- Header -->
<div id='top'>
  <h1>Kinship</h1>
</div>

<%= yield %>

<!-- Footer -->

</body>
</html>
